{% extends "base.html" %}

{% block content %}
    {% for search in user_searches %}
    <ul class="lv_ns">
    	<li>
    		<a href="{{ url_for('user_searches.detail', slug=search.slug) }}">Search {{ loop.index }}</a>
	        {% with total=search.results|length %}
				<span class="badge">{{ total }}</span>Result {%- if total > 1 %}s{%- endif -%}
	        {% endwith %}
	        <span class="right">
		        {{ search.created_at.strftime('%H:%M %Y-%m-%d') }}
		       </span>
    	</li>
    </ul>
      

    {% endfor %}
{% endblock %}