{% extends "base.html" %}

{% block page_header %}
  <div class="page-header">
  <div id="profile-header">
  	<img id="profile-img" src="{{profile['user'].picture}}">
    <h1>{{ profile['user']['name'] }}</h1>
    <p>{{ profile['user']['age'] }} years old</p>
    <p>{{ profile['user']['gender'] |capitalize }}</p>
    <p>Works at {{profile['user'].company}}</p>
  </div>
  
  </div>
{% endblock %}

{% block content %}


{% if profile['user'].friends %}
<div id="user_friends">
	<h2>Friends</h2>
	<ul class="lv_ns">
	{% for friend in profile['user'].friends %}
	 <li>{{friend.name}}</li>
	{% endfor %}
	</ul>
	
</div>
{% endif %}
{% if profile['user']['guid'] == session['user']['guid'] %}
<div id="people_you_may_know">
<h2>People you may know</h2>
	{% if profile['mutual_friends'] %}
	<ul class="lv_ns">
	{% for mf in profile['mutual_friends'] %}
		{% if mf.guid != profile['user']['guid'] %}
		<li>
			<a href="{{ url_for('user_searches.profile',guid=mf.guid) }}">{{mf.name}}</a> <span class="right">You have mutual friends</span>
		</li>
		
		{% endif %}
	{% endfor %}
	</ul>
	{% endif %}

	{% if profile['colleagues'] %}
	<ul class="lv_ns">
	{% for col in profile['colleagues'] %}
		{% if col.guid != profile['user']['guid'] %}
		<li>
			<a href="{{ url_for('user_searches.profile',guid=col.guid) }}">{{col.name}}</a> <span class="right">You are work colleagues</span>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
	{% endif %}

	{% if profile['similar_tags'] %}
	<ul class="lv_ns">
	{% for tagged in profile['similar_tags'] %}
		{% if tagged.guid != profile['user']['guid'] %}
		<li>
			<a href="{{ url_for('user_searches.profile',guid=tagged.guid) }}">{{tagged.name}}</a><span class="right"> You share one or more tags</span>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
	{% endif %}

	{% if profile['most_returned_results'] %}
	<ul class="lv_ns">
	{% for res in profile['most_returned_results'] %}
		{% if res.guid != profile['user']['guid'] %}
		<li>
			<a href="{{ url_for('user_searches.profile',guid=res.guid) }}">
			{{res.name}}</a><span class="right"> User fits a majority of your previous search parameters</span>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
	{% endif %}

	{% if profile['similar_searchers'] %}
	<ul class="lv_ns">
	{% for sim in profile['similar_searchers'] %}
		{% if sim.guid != profile['user']['guid'] %}
		<li>
			<a href="{{ url_for('user_searches.profile',guid=sim.guid) }}">
			{{sim.name}}</a><span class="right"> You have similar search patterns</span>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
	{% endif %}

	
</div>
{%endif %}
  

{% endblock %}